@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Chivo', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #C6E2E9;
}

.nav-text{
    font-size: 50px;
    font-weight: 400;
    background-color: white;
}

.nav-text h1{
    padding: 61px 0px 32px 56px;
}

.linha{
    display:flex;
    margin-bottom: 25px;
}

.linha p{
    margin-top: -3px;
    margin-left: 18px;
    font-size: 24px;
}


.linhas{
    margin: 64px 0;
    margin-left: 60px;
}

.icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#check{
    display: none;
}

.display-none{
    display: none;
}

/* #empty{
     display: none; 
}

 .main-section{

 } */